*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inner{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-attachment: fixed;
}

#b1{
    background-image: url(https://plus.unsplash.com/premium_photo-1736246393384-c2bdd7b189db?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);

}

#b2{
    background-image: url(https://images.unsplash.com/photo-1735852434414-4857abd3eaa0?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

#b3{
    background-image: url(https://images.unsplash.com/photo-1736280748520-2cac84dd76f2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

#b4{
    background-image: url(https://plus.unsplash.com/premium_photo-1732835088231-6674e3167640?q=80&w=1888&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}