* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.outer {
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer>.inner {
    height: 300px;
    width: 350px;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px black;
    cursor: pointer;

    overflow: auto;

}

::-webkit-scrollbar {
    display: none;
}

.outer.inner:hover {
    box-shadow: 2px 2px 2px color black;
}


